<!DOCTYPE html>
{% load i18n %}
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% if SITE_NAME %} | {{ SITE_NAME }}{% endif %}{% endblock %}</title>
    <link rel="icon" type="image/png" href="{{STATIC_URL}}img/favicon.png">
    <!-- Bootstrap -->
    <link href="{{ STATIC_URL }}css/bootstrap.min.css" rel="stylesheet">
    {% block extra_header %}{% endblock %}
    <link href="{{ STATIC_URL }}css/site.css" rel="stylesheet">
 
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <div id="main" class="container">
        <nav class="navbar navbar-default">
            <div class="container">
                <div class="navbar-header">
                    <a class="navbar-brand" href="javascript:void(0);">
                        <img alt="{% if SITE_NAME %}{{ SITE_NAME }}{% endif %}" src="{{ STATIC_URL }}img/logo.png">
                    </a>
                </div>
                <ul class="nav navbar-nav">
                    {% url "report_auto" as report_auto_url %}<li {% if request.get_full_path == report_auto_url %}class="active"{% endif %}><a href="{% url "report_auto" %}">{% trans "Automatic Report" %}</a></li>
                    {% url "report_adhoc" as report_adhoc_url %}<li {% if request.get_full_path == report_adhoc_url %}class="active"{% endif %}><a href="{% url "report_adhoc" %}">{% trans "Ad Hoc DaLA" %}</a></li>
                    {% url "report_impact_config" as report_impact_config_url %}<li {% if request.get_full_path == report_impact_config_url %}class="active"{% endif %}><a href="{% url "report_impact_config" %}">{% trans "Impact Class Config" %}</a></li>
                </ul>
            </div>
        </nav>
        {% block content %}{% endblock %}
        <div id="footer" id="" class="row">
            <div class="col-md-12">
                <div class="text-center"><a href="http://www.irisiko.com" target="_blank">JakSAFE &copy 2015</a></div>
            </div>
        </div>
    </div>
    
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="{{ STATIC_URL }}js/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ STATIC_URL }}js/bootstrap.min.js"></script>
    {% block extra_footer %}{% endblock %}
    <script src="{{ STATIC_URL }}js/site.js"></script>
  </body>
</html>